---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import QuoteViewer from '@/components/react/QuoteViewer'
import Footer from '@/components/Footer.astro';

const quotes = await getCollection('quotes')

const quotesData = quotes.map(quote => ({
  id: quote.id,
  data: {
    text: quote.body, // The main quote text is in the body
    theme: quote.data.theme,
    page: quote.data.page,
    difficulty: quote.data.difficulty,
    tags: quote.data.tags || [],
  }
}));
---

<Layout title="Wisdom from Nisargadatta Maharaj's I Am That" description='Collection of quotes from Sri Nisargadatta Maharaj '>
	<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I Am That - Wisdom</title>
  
</head>
<body>


		<QuoteViewer quotes={quotesData} client:load />
		<Footer/>
        
        
        

</body>
</html>
</Layout>
